.book-preview {
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.457);
    background-color: rgba(13, 194, 127, 0.877);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.book-preview img{
    max-width: 100PX;
}